body.site {
	color:#fff;
	width: 100%;
	height: 100%;
	background: linear-gradient(-4deg,#e9ac66f0, #c88e37d6, #d6591ead, #581167d1, #1c0f41ec, #02031c);
	background-size: 500% 500%;
	-webkit-animation: gradientBG 42s ease 1;
			animation: gradientBG 42s ease 1;
			animation-timing-function: linear;
			animation-fill-mode: none;
			animation-direction: reverse;
}
@-moz-keyframes gradientBG {
	0% {background-position: 0% 0%;}
	50% {background-position: 50% 50%;}
	100% {background-position: 100% 100%;}
}
@-webkit-keyframes gradientBG {
	0% {background-position: 0% 0%;}
	50% {background-position: 50% 50%;}
	100% {background-position: 100% 100%;}
}
@keyframes gradientBG {
	0% {background-position: 0% 0%;}
	50% {background-position: 50% 50%;}
	100% {background-position: 100% 100%;}
}
.main_wrapper {
	background:#8d8d8d1e;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(38, 38, 38, 0.12);
    -moz-box-shadow: 0px 2px 2px 0px rgba(38, 38, 38, 0.12);
    box-shadow: 0px 2px 2px 0px rgba(38, 38, 38, 0.12);
}
footer {
	background:#6a69411f;
	color:#fff;
}
#dayNext, #dayPrev {
	opacity:0.2;
}
.input_field {
	color:#fff;
	background:none;
}
.input_field_past {
	background: #42424212;
    color: #eeeded8f;
}
.hour {
	color:#fff;
}
.hour_indicator {
	background-color:#f6ed6d;
}
.hour_num_current {
	color:#f6ed6d;
}
h1 {
	text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.45);
}
h2 {
	color:#fff;
}
h3 {
	text-shadow: 0px 1px 1px rgba(49, 49, 49, 0.45);
}
.nav_wrapper {
	color:#fff;
}
#weather {
	border-right: 1px solid rgba(248, 246, 246, 0.46);
}
#mode, #day {
	color:#fff;
}
#mode option, #day option {
	background:#fff;
	color:#000;
}
.input {
	border-top:1px solid #d5d4d49e;
}
#calendar .hour_wrapper:last-child .input { border-bottom:1px solid #d5d4d49e;}
.checkWrapper {
    width: 40px;
    margin: 2px 0 0 1px;
}
.checkmark {
	width: 20px;
	height: 20px;
    margin: 8px 0 0 6px;
}
.lds-ring div {
	margin: 9px 0 0 13px;
	border: 10px solid #50B748;
	border-color: #50B748 transparent transparent transparent;
} 