@import 'normalize.css';

:root {
	font-size: 62.5%; /* 16px font size rem conversion*/
}
body {
	margin:0;
	padding:0;
	text-align:center;
	color:#3b4954;
	background:#f9fbfd;
	font-size: 1.6rem; /* 16px font size rem conversion*/
	font-family: 'Lato', sans-serif;
}
.clear {
	clear:both;
}
.hidden {
	display:none;
}
.show {
	display:inline-block;
}
.nav_wrapper, .main_wrapper {
	display:inline-block;
	width:100%;
	margin:0 auto;
	min-width:480px;
	max-width:960px;
	background:#fff;
}
@media only screen and (min-width: 960px)  {
	.nav_wrapper, .main_wrapper {
		width:960px;
	}
}
.nav_wrapper {
	margin-bottom:10px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
	-moz-box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
	box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
}
.nav_content ul {
	margin:0;
	padding:0;
}
.nav_content ul li {
	list-style-type: none;
	padding:10px 0 10px 0;
	float:left;
	width:200px;
	border-right:1px solid #ddd;
}
.nav_content ul li a {
	text-decoration:none;
	color:#3b4954;
	cursor:pointer;
}
.nav_content ul li a:hover {
	color:#af0808;
}
.main_wrapper {
	margin: 20px auto 20px auto;
	background:#fff;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
	-moz-box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
	box-shadow: 0px 2px 2px 0px rgba(199,199,199,0.6);
}
.main_content {
	text-align:left;
	margin:30px;
}
.main_content h1 {
	font-size: 2em;
    text-align: center;
	margin: 0;
}
#agendaWrapper {
	width:100%;
}
#agendaWrapper a:hover {
	cursor:pointer;
}
#dayPrev {
	float:left;
	display:inline;
	text-align:center;
	width:10%;
	opacity:0.15;
	margin-top:-20px;
}
#dayNext {
	float:left;
	display:inline;
	text-align:center;
	width:10%;
	opacity:0.15;
	margin-top:-20px;
}
#agendaTitle {
	float:left;
	width:80%;
	display:inline;
	margin-bottom:12px;
}
h2 {
    text-align: center;
	color: #bbb;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
	letter-spacing: 0.3rem;
}
.main_content p {
	text-align:center;
	padding: 10px 50px 35px 50px;
}
.button {
	border-radius: 25px;
	padding:12px 25px;
	color:#fff;
	border: 0;
}
.button:focus {
	outline:0;
}
.button:hover {
	cursor:pointer;
}
.button_red {
	background:#d62e2e;
}
.button_green {
	background:#2dac0e;
}
.button_grey {
	float:right;
	text-align:right;
	background:#c0c7cf;
}
#calendar {
	text-align: center;
}
.input_field {
	border: none;
    width: 98%;
    padding: 11px 1%;
}
.hour_wrapper {
	display:block;
	float:left;
	width:100%;
	margin: 0;
	min-width:422px;
}
.input_item {
	padding:11px;
	color: #bbb;
}
.hour {
	float:left;
	width:18%;
	color: #bbb;
}
.hour_num {
	display:inline-block;
	margin-left: -8px;
	width:100%;
	text-align:right;
}
.hour_item {
	display:inline-block;
	padding: 10px;
	margin: 11px 6px -4px 0;
}
.input {
	width:68%;
	float:left;
	border-top:1px solid #ddd;
}
.field {
	padding: 0;
}
.save {
	float:left;
	text-align:center;
	width:14%;
}
.save:hover {
	cursor:pointer;
}
.save:active {
	color:#ddd;
	cursor:wait;
}
.checkWrapper {
	float: left;
    width: 50px;
    height: 40px;
    overflow: hidden;
}
.checkmark {
	width: 104px;
    height: 104px;
    margin: -32px 0 0 -27px;
}
#clearAgenda {
	float:right;
	width:100px;
	background:#af0808;
	padding:10px;
	color:#fff;
	margin:10px 0 25px 0;
	text-align:center;
}
#clearAgenda:hover{
	cursor:pointer;
}